* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    width: auto;
    height: 80px;
}

#Logo {
    width: 65px;
    height: 65px;
}

.logo-text {
    font-size: 30px;
    margin-bottom: 30px;
}

body {
    background-color: rgb(243, 243, 243);
}

main {
    width: 80%;
    margin: 0 auto;
}

nav  {
    margin-top: 30px;
    margin-bottom: 2px;
    padding: 30px 20px;
    background-color: white;
    
}
section {
    padding: 20px;
    background-color: white;
}

.button1 {
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 5px;
    border-color: lightskyblue;
    color: white;
    font-size:13px;
}

.button2 {
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
    border-color: lightgray;
    color: grey;
    font-size: 13px;
}

ul {
    list-style: none;
    text-align: left;
}

li {
    margin: 10px 0;
}

.first-ul {
    font-size: 18px;
}

.check {
    color: green;
    padding: 3px;
    border: 1px solid;
    border-radius: 50%;
}

.deny {
    color: red;
    padding: 3px;
    border: 1px solid;
    border-radius: 50%;
}

.editorial {
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 5px;
    border-color: lightskyblue;
    color: white;
    font-size:10px;
}

.Q1 {
    background-color: violet;
    padding: 5px;
    border-radius: 5px;
    border-color: violet;
    color: white;
    font-size:10px;
}

.recruiting {
    background-color: lightseagreen;
    padding: 5px;
    border-radius: 5px;
    border-color: lightseagreen;
    color: white;
    font-size:10px;
}

.mobile {
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
    border-color: orange;
    color: white;
    font-size:10px;
}

.website {
    background-color: pink;
    padding: 5px;
    border-radius: 5px;
    border-color: pink;
    color: white;
    font-size:10px;
}

.sales {
    background-color: green;
    padding: 5px;
    border-radius: 5px;
    border-color: green;
    color: white;
    font-size:10px;
}